<!-- NAVBAR -->
<div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 20px;">
  <div fxLayout="row" fxLayoutAlign="start center" class="text">
    <div class="nav-logo">
      GROWTHDEX
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start center" class="text nav-text-size">
    <div>
      <button mat-button>ACCOUNT</button>
    </div>
    <div>
      <button mat-button>PLATFORM</button>
    </div>
    <div>
      <button mat-button>TRADE</button>
    </div>
    <div>
      <button mat-button>ABOUT COMPANY</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start center" class="text" >
    <div>
      <button mat-raised-button class="btn-grad">Log In</button>
    </div>
    <div>
      <button mat-raised-button class="btn-grad">Sign up</button>
    </div>
  </div>
</div>

<!-- HOME -->
<div fxLayout="row" fxLayoutAlign="start center" class="home">
  <div class="text" fxFlex="10">
  </div>
  <div class="text" fxFlex.gt-md="45" fxFlex.lt-lg="100">
    <div fxLayout="column" style="line-height: 1;">
      <div  class="home-header">
        Make the most
      </div>
      <div  class="home-header">
        of market moves
      </div>
    </div>
    <div style="margin-top: 40px;"></div>
    <div fxLayout="column" fxLayoutGap="10">
      <div class="home-text-size">
        Access a wide range of investment options, intuitive
      </div>
      <div class="home-text-size">
        trading tools and market insights to help you execute
      </div>
      <div class="home-text-size">
        your trading strategies
      </div>
    </div>
    <div style="margin-top: 30px;"></div>
    <div>
      <button mat-raised-button class="btn-grad">Start Trading</button>
    </div>
  </div>
  <div class="text" fxFlex.gt-md="35">
    <div class="home-bg">
    </div>
  </div>
  <div class="text" fxFlex="10">
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <div class="text" fxFlex="10">
  </div>
  <div  class="text" fxFlex="40">
    <div fxLayout="column" style="line-height: 1;" fxLayoutGap="10">
      <div style="font-size: 40px;">
        Why Choose Us ?
      </div>
      <div style="padding-top: 40px;"></div>
      <div class="home-text-size">
        We focus on delivering our customer transparent, low cost
      </div>
      <div class="home-text-size">
        trading conditions, cutting edge technology, and great support.
      </div>
      <div class="home-text-size">
        We're on a mission to create a unique trading platform
      </div>
      <div class="home-text-size">
        designed to cater to traders of all levels, from beginners
      </div>
      <div class="home-text-size">
        who have never traded to seasoned pros.
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center" class="text" fxFlex="40" fxLayoutGap="20">
    <div fxLayout="row" fxLayoutGap="20">
      <div fxLayout="column" fxLayoutAlign="center center" class="card">
        <div class="text-grad" style="font-size: 25px;padding-bottom: 10px;font-weight: 900;">
          120
        </div>
        <div>
          TRADING PRODUCTS
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="card">
        <div class="text-grad" style="font-size: 25px;padding-bottom: 10px;font-weight: 900;">
          $0.00
        </div>
        <div>
          ACCOUNT KEEPING FEES
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20">
      <div fxLayout="column" fxLayoutAlign="center center" class="card">
        <div class="text-grad" style="font-size: 25px;padding-bottom: 10px;font-weight: 900;">
          200:1
        </div>
        <div>
          LEVERAGE
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="card">
        <div class="text-grad" style="font-size: 25px;padding-bottom: 10px;font-weight: 900;">
          MT4
        </div>
        <div>
          TRADING PLATFORMS
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
  1
</div>